body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 5px dotted red;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 400px;
  align-items: flex-start;
}
li {
  border: 5px solid #999;
  margin: 0.5em;
  padding: 0.5em;
}
.flex2 {
  border: 5px dashed blue;
  order: 2;
  flex: 2 1 25%;
}
